<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/board.css">
</head>
<body>
<header>
      <nav>
        <div class="nav-container">
          <a href="/main">
            <img src="/image/Logo.png" alt="로고 이미지">
          </a>
          <ul class="menu">
            <li><a href="/board/boardsave">글 작성하기</a></li>
            <li><a href="/board/paging">글 목록</a></li>
            <li><a href="/mypage/first">마이페이지</a></li>
          </ul>
        <ul class="user">
              <li><input type = "text" id = "userEmail" readonly>님 안녕하세요!<br></li>
			  <li><a href="/member/logout">로그아웃</a></li>
        </ul>
        </div>
      </nav>
    </header>
<div class="wrap">
<div class="board">
<div class="boardform">
<h3 >프로필 만들기</h3><br>
<form action="/mypage" method="post">
	
	한줄소개: <input class="content" type="text" name="oneline"><br><br>
	
	이름: <input type="text" name="writer" id="writer" ><br>
	나이: <select name ="age" id="age">
		<option  value="">나이</option>
		<option value="20대 초반">20대 초반</option>
		<option value="20대 중반">20대 중반</option>
		<option value="20대 후반">20대 후반</option>
		<option value="30대 이상">30대 이상</option>
	</select><br>
	성별: <select name="gender" id="gender">
		<option  value="">성별선택</option>
		<option value="여자">여자</option>
		<option value="남자">남자</option>
	</select><br>
	흡연여부: <select name="smoke" id="smoke">
		<option  value="">여부선택</option>
		<option value="합니다">합니다</option>
		<option value="안합니다">안합니다</option>
	</select><br>
	원하는 지역: <select name="location" id="location">
		<option  value="">지역 설정</option>
		<option value="마포구">마포구</option>
		<option value="서대문구">서대문구</option>
		<option value="용산구">용산구</option>
		<option value="종로구">종로구</option>
		<option value="성북구">성북구</option>
		<option value="동대문구">동대문구</option>
		<option value="성동구">성동구</option>
	</select><br>
	원하는 월세: <input type="text" name= "month" id = "month" placeholder="원하는 월세를 입력하세요"><br><br>
	자기소개: <textarea class="content" name= "myContent" id = "myContent"cols="30" rows="10" ></textarea><br><br>

	원하는 룸메: <textarea class="content" name="themContent" id="themContent" cols="30" rows="10"></textarea><br><br>


	<br><br>

	<input class="submit" type="submit" value="만들기">
</form>
</div>
</div>
</div>
</body>
<script th:inline="javascript">
const memberEmail = localStorage.getItem('memberEmail');
document.getElementById('userEmail').value = memberEmail;
document.getElementById('writer').value = memberEmail;

</script>
</html>