<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>채팅방 목록</title>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>
<body>
<h2>채팅방 목록</h2>
<h4>채팅방의 코드를 검색해서 입장하세요!!</h4>
<button onclick = "makeroom()" type="button">방 개설하기</button>
<!-- 채팅방 조회 -->
<div>
	<input type="text" id="roomcode" placeholder="채팅방 코드를 입력하세요">
	<button type="button" onclick="find()">조회하기</button>
</div>
<br>
<table>
    <tr>
        <th>방번호</th>
        <th>방이름</th>
        <th>방장</th>
        <th>생성날짜</th>
    </tr>
    <tr th:each="chatroomList: ${chatroomList}">
            <td th:text="${chatroomList.chatroomId}" ></td>
            <td th:text="${chatroomList.roomName}"></td>
            <td th:text="${chatroomList.host}"></td>
            <td th:text="*{#temporals.format(chatroomList.chatroomCreatedTime, 'yyyy년 MM월 dd일')}"></td>
    </tr>
</table>

<div id="chatroom">

	<table>
        <tr>
            <th>방번호</th>
            <th>방이름</th>
            <th>방코드</th>
            <th>방장</th>
            <th>생성날짜</th>
            <th>입장</th>
        </tr>
        <tr th:each="chatroomDTO: ${chatroomDTO}">
            <td th:text="${chatroomDTO.chatroomId}" ></td>
            <td th:text="${chatroomDTO.roomName}"></td>
            <td th:text="${chatroomDTO.roomId}"></td>
            <td th:text="${chatroomDTO.host}"></td>
            <td th:text="${chatroomDTO.chatroomCreatedTime}"></td>
            <td><button type = "button" onclick="roomin()">입장하기</button></td>
        </tr>
    </table>

</div>
<script th:inline="javascript">

const makeroom = () => {
	$.ajax({
		type: "get",
		url: "/chat/create",
		success: function(res){
			location.href = "/chat/create"
		},
		error: function(err){
			console.log("에러발생", err);
		}
		
		
	});
}

const find = () => {
	const roomId = document.getElementById("roomcode").value;
	console.log("방코드", roomId);
	
	$.ajax({
		type: "post",
		url: "/chat/rooms",
		data: {"roomId" : roomId},
		success: function(res){
			console.log("요청성공", res);
			localStorage.setItem("chatroomId", res.chatroomId);
			localStorage.setItem("roomName", res.roomName);
			let output = "<table>";
			output += "<tr><th>방번호</th>";
            output += "<th>방이름</th>";
            output += "<th>방코드</th>";
            output += "<th>방장</th>";
            output += "<th>생성시간</th>";
            output += "<th>입장</th></tr>";
            
            output += "<tr>";
            output += "<td>" + res.chatroomId + "</td>";
            output += "<td>" + res.roomName + "</td>";
            output += "<td>" + res.roomId + "</td>";
            output += "<td>" + res.host + "</td>";
            output += "<td>" + res.chatroomCreatedTime + "</td>";
            output += "<td>" + "<button type = 'button' onclick='roomin()''>" + "입장하기" +"</button>"+ "</td>";
            output += "</tr>";
            output += "</table>";
            
            document.getElementById('chatroom').innerHTML = output;
            document.getElementById('roomcode').value = '';
            
            
            
		},
		error: function(err){
			console.log("요청실패", err);
		}
	});
	
	
}


const roomin = () => {
	//const chatroomId = document.getElementById("chatroomId").value;
	//location.href="/chat/room";
	const chatroomId = localStorage.getItem("chatroomId");
	console.log("방번호", chatroomId);
	location.href="/chat/room/" + chatroomId;
}
</script>

</body>
</html>